*{
	margin: 0;
	padding: 0;
}
html,body{height: 100%}
i,em{font-style: normal;}
img{border: none;display: block;}
a{ 
	text-decoration: none;
	color: #333;
 }
li{ list-style: none; }

#navi{
	width: 100%;
	height: 57px;
	background: #ffd100;
	border-top: 1px solid #b6b4b6;
}
#navi .img1{
	margin-left: 73px;
	margin-top: 18px;
	float: left;
}
#navi ul{
	height: 57px;
	width: 800px;
	padding-left: 130px;
	float: left;
}

#navi li{
	float: left;
	height:57px;
	margin-left:20px;
	float: left;
	text-align: center;
	line-height: 57px;
	font-size: 14px;
	width: 60px;
}
#navi ul li:hover li{
	background: #000;
	color:#ffd100;
}
#navi .img{
	margin-top: 18px;
	margin-left: 20px;
}
#navi .first{
	font-weight: bold;
}
#navi .n_you{
	/*width: 80px;*/
	float: right;
	margin-right: 60px;
	font-size: 14px;
}
.n_you a{
	height: 57px;
	line-height: 57px;
	padding-left: 20px;
}
/*banner*/
#banner{
	width: 1130px;
	height: 300px;
	margin: 0 auto;
	padding-top: 20px;
	overflow: hidden;
}
/*-----content-----*/
#content1{
	width: 1130px;
	height: 188px;
	margin: 0 auto;
}
#content1 img{
	margin-top: 20px;
	margin-right: 20px;
	float: left;
}
#content1 .c_last{
	margin-right: 0;
}
/*----menu-----*/
#menu{
	width: 1130px;
	height: 102px;
	/*background: #ff0;*/
	margin:0 auto;
}
#menu .m_left{
	padding-top: 60px;
	margin-left: 404px;
}
.m_left dl{
	float: left;
	padding: 0 30px;
}
.m_left a{
	color: #999;
}
.m_left a:hover{
	color:#333;
	padding-bottom: 19px;
	border-bottom: 2px solid #333;
}
.m_left img{
	width: 147px;
	height: 47px;
	float:right;
	position: relative;
	bottom: 15px;
}
/*------box------*/
#box{
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
	background: #f4f4f4;
}
#box ul{
	width: 1130px;
	/*height: 800px;*/
	margin:0 auto;
	/*float: left;/*多个ul*/
	/*overflow: hidden;*/
}
#box li{
	width:206px;
	height: 310px;
	margin-top: 20px;
	margin-right: 20px;
	background: #fff;
	float: left;
	position: relative;
}
#box .b_last{
	margin-right: 0;
}
#box li img{
	/*display: block;*/
	position: absolute;
	width: 210px;
	height: 159px;

}
#box p{
	color: #333;
	position: absolute;
	top: 175px;
	left:17px;
}
#box .pic1{
	/*position: absolute;*/
	color: #999;
	font-size: 12px;
	display: block;
	margin-top: 200px;
	margin-left: 17px;
}
#box li i{
	width: 100px;
	height: 20px;
	display: block;
	margin-top: 20px;
	margin-left: 4px;
	background: url(../images/sprice-icon.png) no-repeat 15px 7px;
}
#box li i span{
	margin-left: 33px;
	font-size: 12px;
	color: #999;
}

#box .zan{
	width:16px;
	height: 16px;
	margin-top: -15px;
	margin-left: 150px;
}